.upload-preview{
    width: 13rem;
    margin-top: 1rem;
    background: #E0E0E0;
    border-style: dashed;
    max-width:100%;
    height:auto;
    padding: 5px;
}
.custom-file-label {
    font-size: calc(8px + 1vmin);
    text-align:left;
}